{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img class="author" src="static/css/about.jpg"/>
    <h4 class="center">About this project</h4>
    <p>Vy's Kitchen is an web application also mobile friendly about Vietnamese Food Receipes. You can access to tons of receipes from Vietnamese Specialties to Vietnamese streetfoods like Pho, Banh Mi, Bun Bo, Hu tiu Bo kho, Banh trang nuong (Vietnamese Pizza)...You can also save the receipe that you like when you register to the website.</p>
    <h4>Technologies used:</h4>
    <p>Language: HTML, CSS, JS, Python</p>
    <p>Framework: Django, Materialize</p>
    <p>Database: Postgresql</p>
    <p>Deployment on: Netlify</p>
</div>
{% endblock %}