{% extends 'base.html' %}

{% block content %}
<h1>Homepage</h1>
<h4>Recipe list:</h4>
    {% for recipe in recipes %}
        <div class="row">
            <div class="col s12 m7">
                <div class="card brown darken-3">
                <div class="card-image">
                    <img src="{{ recipe.image }}">
                    <span class="card-title">{{recipe.title}}</span>
                </div>
                <div class="card-content">
                    <p>{{recipe.instruction|truncatewords:40}}</p>
                </div>
                <div class="card-action">
                    <a href="/">Read more</a>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}