{% extends 'base.html' %}

{% block content %}
<div class="profile">
    <h3>&hearts; Welcome {{user.username}} &hearts;</h3>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Date joined: {{user.date_joined}}</p>
</div>
    <form enctype="multipart/form-data" method="POST">
        <h4 class="center">Update Your Profile</h4>
        {% csrf_token %}
        {{ user_form.as_p }}
        <div class="button">
            <input type="submit" class="btn yellow darken-2" value="update">
        </div>
    </form>
<div class="comment white-text">
    <h4>Recent comments</h4>
        {% for comment in comments  %}
            {% if comment %}
                <p> On {{comment.created_date}}</p>
                <p>Post: <a href="{% url 'recipe_detail' comment.recipe.id %}">{{ comment.recipe}}</a></p>
                <p>{{ comment.text }}</p>
                <div class="card-action">
                <a href="{% url 'comment_edit' comment.recipe.id comment.id %}">Edit</a>
                <a href="{% url 'comment_delete' comment.recipe.id comment.id%}">Delete</a>
                </div>
            {% else %}
                <p>No commnets yet</p>
            {% endif %}
        {% endfor %} 
</div>

{% endblock %}
