{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2 class="recipe_title"> {{ recipe.title }} </h2>
    <img id="recipe_photo" src="{{ recipe.image.url }}"/>
    <div class="card-content">
        <p><b>Ingredients: </b>{{ recipe.ingredient }}</p>
        <hr/>
        <p><b>Intrustions: </b>{{ recipe.instruction }}</p>
    </div>
    <div class="button">
        <a class="btn yellow darken-2" href="{% url 'comment_add' recipe.id %}">Add comment</a>
    </div>
    <div class="comments">
        {% if user.is_authenticated %}
            <div class="card-content">
                {% if comments.count == 0 %}
                    <h4>No comments posted!</h4>
                {% else %}
                    {% for comment in comments %}
                        <br>
                            <div class="card-action">
                                <small>On {{comment.created_date}}</small>
                                <p>{{comment.user}} said: {{ comment.text|safe|linebreaks }}</p>  
                            </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}