body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://cdn.asiatatler.com/asiatatler/i/th/2019/08/15162927-dsc0499_cover_2000x1335.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    font-size: medium;
    }

main {
    flex: 1 0 auto;
    }

footer {
    padding-top: 0;
    text-align: right;
    }

form {
    color:rgb(252, 252, 251);
    padding: 5%;
    margin-top:10%;
    margin: 0 auto;
    align-items: center;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 800px;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    }

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

